* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}



/*top section already styled do not touch unless you're changing color scheme*/

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  background: lightcoral;
  color: #ffff00;
}
form {
  font-size: 35px;
  position: relative;
  width: 740px;
  height: 498px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;


  /*create  grid */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10em 1em 1em 1em;
}
.btn {
  font-size: 30px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  width: auto;
  margin: auto;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(239, 239, 144);
  color: rgb(157, 157, 173);
}
/* centers quiz area (main) */
main {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.start-button-container {
  display: block;
  flex: auto;
  justify-content: space-around;
  border: 2px dashed rgb(92, 89, 89);
  text-align: center;
  margin: 0 25%;
  padding-inline-start: 1.6rem;
}
.startbutton {
  font-size: 30px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  width: auto;
  margin: auto;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 10px;
}

.question-container {
  font-size: 30px;
  border: 2px solid rgb(243, 235, 142);
  background-color: rgb(174, 154, 165);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1% 25%;
  padding-inline-start: 1.6rem;
}

.timer {
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  display: flex;
  justify-content: center;
  font-size: 35px;
  width: fit-content;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  border: 2px solid rgb(226, 158, 158);
  border-radius: 4px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  font-size: 35px;
  background-color: #eba8d6;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 8px 8px;
  cursor: pointer;
}

/* hover features */
/* unvisited link */
a:link {
  color: #ffff00;
}

/* visited link */
a:visited {
  color: rgb(229, 130, 8);
}

/* mouse over link */
a:hover {
  color: rgb(255, 0, 174);
}

/* selected link */
a:active {
  color: rgb(15, 209, 223);
}

.highscore,
.startbutton:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;

}
